<!DOCTYPE html>
<html>
    <head>
        <% const title = global.primary_routes_title[page]%>
        <% include ../views/templates/head %>
        <script src="/javascripts/map.js"></script>
        <script>
            var cuisine_arr = <%- JSON.stringify(cuisine_arr) %>;
            function initializer() {
                initMap(53.3816197, -1.4820851, autoFillAddresss);
            }
            $('document').ready(() => {
                setCuisineSel();
            });
        </script>
    </head>
    <body>
        <% include ../views/templates/nav.ejs %>
        <header class="jumbotron jumbotron-fluid text-center bg-dark text-white">
            <h1><%= title %></h1>
        </header>
        <main>
            <div class="card rounded-0">
                <div class="card-body pac-card" id="pac-card">

                    <h5 class="card-title">
                        Where is the restaurant?
                    </h5>
                    <form id="addRestaurantForm" method="post" onsubmit="onSubmit('/add_restaurant')">
                        <div id="pac-container">
                            <input class="form-control" for="addRestaurantForm" name="restaurantAddress" id="pac-input" type="text" placeholder="Enter a location" required>
                        </div>
                        <div id="map"></div>
                        <div id="address-output"></div>
                        <div class="form-group">
                            <input id="lat" name="lat" hidden/>
                            <input id="lng" name="lng" hidden/>
                            <label for="restaurantTitle">Title</label>
                            <input type="text" class="form-control" id="restaurantTitle" name="restaurantTitle" required/>
                            <label for="restaurantDescription">Description</label>
                            <textarea class="form-control" id="restaurantDescription" name="restaurantDescription"></textarea>
                            <label for="restaurantCuisine">Cuisine</label>
                            <input type="text" name="restaurantCuisine" id="cuisine_selector" required/>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </main>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= API %>&libraries=places&callback=initializer"
                async defer></script>
    </body>
</html>
