<title><%= title %></title>
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />