<!DOCTYPE html>
<html>
    <head>
        <% const title = global.primary_routes_title[page]%>
        <% include ../views/templates/head %>
    </head>
    <body>
        <header class="jumbotron jumbotron-fluid text-center bg-dark text-white">
            <% include ../views/templates/nav.ejs%>
            <div class="container">
                <h1>RestauWant</h1>
                <p>Find the best restaurants in your area!</p>
                <p>Share your culinary opinions!</p>
            </div>
        </header>
        <main>
        </main>
    </body>
</html>
