<!DOCTYPE html>
<html>
    <head>
        <% const title = global.primary_routes_title[page]%>
        <% include ../views/templates/head %>
    </head>
    <body class="bg-dark" onload="initSW();">
        <header class="jumbotron jumbotron-fluid text-center bg-dark text-white">
            <% include ../views/templates/nav.ejs%>
        </header>
        <main>
            <div class="container jumbotron jumbotron-fluid text-center bg-dark text-white">
                <h1><b>RestauWant</b></h1>
                <p><i>Find the best restaurants in your area!</i></p>
                <p><i>Share your culinary opinions!</i></p>
                <br/>
                <form class="mx-auto col-8" action="/search" method="post">
                    <div class="input-group">
                        <input class="form-control form-control-lg" type="text" name="keywords" placeholder="Search" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary oi oi-magnifying-glass" data-glyph="magnifying-glass" type="submit" />
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
