<!DOCTYPE html>
<html>
    <head>
        <% include ../views/templates/head %>
    </head>
    <body>
        <% include ../views/templates/nav.ejs%>
        <div class="jumbotron text-center">
            <h1><%= title %></h1>
        </div>
        <main>
            <%=foo%>
        </main>
    </body>
</html>
