<!DOCTYPE html>
<html>
  <head>
    <% include ../views/header %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <a href="/restaurants">Search</a>
      <a href="/add_restaurant">Create</a>
    </p>
  </body>
</html>
