<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <a href="/Restaurants">Search</a>
      <a href="/CreateRestaurant">Create</a>
    </p>
  </body>
</html>
