<!DOCTYPE html>
<html>
    <head>
        <% const title = global.primary_routes_title[page]%>
        <% include ../views/templates/head %>
    </head>
    <body>
        <% include ../views/templates/nav.ejs%>
        <header class="jumbotron text-center">
            <h1>Restaurant App</h1>
            <p>Find the best restaurants in your area!</p>
            <p>Share your culinary opinions!</p>
        </header>
        <main>
        </main>
    </body>
</html>
