<!DOCTYPE html>
<html>
    <head>
        <% const title = global.primary_routes_title[page]%>
        <% include ../views/templates/head %>
    </head>
    <body>
        <% include ../views/templates/nav.ejs%>
        <div class="jumbotron text-center">
            <h1>Restaurant App</h1>
            <p>Find some restaurants</p>
            <form class="form-inline" action="/search" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" size="50" placeholder="Keywords" name="keywords" required>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <main>
        </main>
    </body>
</html>
