<!DOCTYPE html>
<html>
    <head>
        <% const title = global.primary_routes_title[page]%>
        <% include ../views/templates/head %>
    </head>
    <body>
        <% include ../views/templates/nav.ejs%>
        <div class="jumbotron text-center">
            <h1><%= title %></h1>
        </div>
        <main>
            <form action="/search" method="post">
                <input type="hidden" name="keywords" value="Chicken" />
                <input type="submit" />
            </form>
            <%- title %>
        </main>
    </body>
</html>
