<!DOCTYPE html>
<html>
<head>
    <% include ../views/header %>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= API %>&libraries=places&callback=initMap"
            async defer></script>
    <script>
        $(document).ready(function (){
            setLocation();
            let cuisine_dict = <%-cuisine_dict%>;
            console.log(cuisine_dict);
            for(var i=0;i<cuisine_dict.length;i++)
            {
                var option=$('<option></option>').val(cuisine_dict[i]._id).html(cuisine_dict[i]['title']);
                $('select#cuisine').append(option);
            }

        });
    </script>
</head>
<body>
<h1><%= title %></h1>
<div class="pac-card" id="pac-card">
    <div id="map"></div>
</div>

<section id="SearchControls">
    <form id=“xForm" onsubmit="onSubmit('/restaurants')">
        <ul class="inputList">
            <li>
                <label for='name'>Name:</label>
                <input type="text" name="name" id="name"/>
            </li>
            <li>
                <label for='cuisine'>Cuisine:</label>
                <select name="cuisine" id="cuisine"></select>
            </li>
            <li>
                <input id="pac-input" type="text"
                       placeholder="Enter a location">
            </li>
            <li>
                <input type="hidden" name="lat" id="lat" value="0"/>
            </li>
            <li>
                <input type="hidden" name="lng" id="lng" value="0"/>
            </li>
            <li>
                <label for="radius">Radius (km):</label>
                <input type="number" name="radius" id="radius" step="any" value="1"/>
            </li>
            <li><input type="submit" name="g" value="Submit" id="g"></li>
        </ul>
    </form>
</section>
<div id="results" style="margin-top:30px"></div>
</body>
</html>
