<!DOCTYPE html>
<html>
    <head>
        <% include ../views/templates/head %>
        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/map.js"></script>
        <script src="/javascripts/cuisine.js"></script>
        <link rel='stylesheet' href='/chosen/chosen.css' />
        <script>
            let cuisine_arr = <%- JSON.stringify(cuisine_arr) %>;
            $(function() {
                $(".chosen-select").chosen({no_results_text: "No result found"});
            });
            $(document).ready(function(){
                setLocation();
                resizeChosen();
                jQuery(window).on('resize', resizeChosen);
            });
            function resizeChosen() {
                $(".chosen-container").each(function() {
                    $(this).attr('style', '').addClass("searchTextBox");
                });
            }

            //Show or Hide Location Search
            $( function() {
                $("#locationSearch").hide();
                $( "#toggleLocationSearch" ).click(function() {
                    $( "#locationSearch" ).slideToggle( "slow", function() {
                        // Animation complete.
                    });
                });
            } );
        </script>
        <script src="/chosen/chosen.jquery.js"></script>
    </head>
    <body>
    <% include ../views/templates/nav.ejs%>
    <div class="jumbotron text-center">
        <h1><%= title %></h1>
        <select id="cuisine_tags" data-placeholder="Cuisine" multiple class="chosen-select">
            <option value=""></option>
            <% cuisine_arr.forEach(function(kv) {%>
                <%- "<option value=" + kv._id + ">" + kv.title +"</option>";%>
            <%});%>
        </select><br />
        Match Any? <input form="xForm" type="checkbox" name="all_any_cuisine" id="all_any_cuisine" />
        <p>
            <ul id="cuisine_checkboxes">
            </ul>
        </p>
        <input class="searchTextBox" form="xForm" type="text" name="keywords" id="keywords" placeholder="Keywords"/><br />
        <button id="toggleLocationSearch" type="button" class="btn btn-secondary btn-sm">Choose Location</button>
        <div id="locationSearch">
            <input class="searchTextBox" form="xForm" name="pac_input" id="pac_input" type="text"
                   placeholder="Enter a location" />
            <input class="searchTextBox" form="xForm" type="number" name="radius" id="radius" step="any" placeholder="Radius (km)" />
            <div class="pac-card" id="pac-card">
                <div id="map"></div>
            </div>
        </div>
        <hr />
        <form id="xForm" onsubmit="selected_cuisines(cuisine_arr); onSubmit('/restaurants');">
            <input type="hidden" name="cuisine" id="cuisine" />
            <input type="hidden" name="lat" id="lat" value="0"/>
            <input type="hidden" name="lng" id="lng" value="0"/>
        </form>
        <button form="xForm" id="g" name="g" type="submit" class="btn btn-primary">Search</button>
    </div>
    <main id="results" style="margin-top:30px">
    </main>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= API %>&libraries=places&callback=initMap"
            async defer></script>
    </body>
</html>
