<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/javascripts/index.js"></script>
    </head>
    <body onload="setLocation()" >
        <h1><%= title %></h1>
        <aside style="width:50%;">
            <form id=“xForm" onsubmit="onSubmit('/restaurants')">
                <ul class="inputList">
                    <li>
                        <label for='name'>Name:</label>
                        <input type="text" name="name" id="name" />
                    </li>
                    <li>
                        <label for='cuisine'>Cuisine:</label>
                        <input type="text" name="cuisine" id="cuisine" />
                    </li>
                    <li>
                        <label for="lat">Latitude:</label>
                        <input type="number" name="lat" id="lat" step="any" value="0"/>
                    </li>
                    <li>
                        <label for="lng">Longitude:</label>
                        <input type="number" name="lng" id="lng" step="any" value="0"/>
                    </li>
                    <li>
                        <label for="radius">Radius (km):</label>
                        <input type="number" name="radius" id="radius" step="any" value="1" />
                    </li>
                    <li><input type="submit" name="g" value="Submit" id="g"></li>
                </ul>
            </form>
        </aside>
        <div id="results" style="margin-top:30px"></div>
    </body>
</html>
