<!DOCTYPE html>
<html>
    <head>
        <% include ../views/head %>
        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/map.js"></script>
        <script src="/javascripts/cuisine.js"></script>
        <script src="/chosen/chosen.jquery.js"></script>
        <link rel='stylesheet' href='/chosen/chosen.css' />
        <script>
            $(function() {
                $(".chosen-select").chosen({no_results_text: "No result found"});
            });
            $(document).ready(function(){
                resizeChosen();
                jQuery(window).on('resize', resizeChosen);
            });
            function resizeChosen() {
                $(".chosen-container").each(function() {
                    $(this).attr('style', 'width: 50%');
                });
            }
        </script>
    </head>
    <body onload="cuisine(<%= cuisine_dict %>)">
        <h1><%= title %></h1>
        <select data-placeholder="Choose Your Cuisine" multiple class="chosen-select">
            <option value=""></option>
            <option>C11111111111111111</option>
            <option>C2</option>
            <option>C3</option>
        </select>
        <div class="pac-card" id="pac-card">
            <div id="map"></div>
        </div>

        <section id="SearchControls">
            <p>Cuisines:
                <ul id="cuisine_checkboxes">
                </ul>
            </p>
            <form id=“xForm" onsubmit="checked_cuisines(); onSubmit('/restaurants');">
                <ul class="inputList">
                    <li>
                        <label for="all_any_cuisine">Any?</label>
                        <input type="checkbox" name="all_any_cuisine" id="all_any_cuisine" />
                    </li>
                    <li>
                        <label for='keywords'>Keywords:</label>
                        <input type="text" name="keywords" id="keywords"/>
                    </li>
                    <li>
                        <input type="hidden" name="cuisine" id="cuisine" />
                    </li>
                    <li>
                        <input name="pac_input" id="pac-input" type="text"
                               placeholder="Enter a location">
                    </li>
                    <li>
                        <input type="hidden" name="lat" id="lat" value="0"/>
                    </li>
                    <li>
                        <input type="hidden" name="lng" id="lng" value="0"/>
                    </li>
                    <li>
                        <label for="radius">Radius (km):</label>
                        <input type="number" name="radius" id="radius" step="any" value="1"/>
                    </li>
                    <li><input type="submit" name="g" value="Submit" id="g"></li>
                </ul>
            </form>
        </section>
        <div id="results" style="margin-top:30px"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= API %>&libraries=places&callback=initMap"
                async defer></script>
    </body>
</html>
