<title><%= title %> | Restaurant App</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel ="stylesheet" href="/selectize/css/selectize.bootstrap3.css" />
<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="/open-iconic/font/css/open-iconic.css" rel="stylesheet">
<script src="/jquery/jquery.min.js"></script>
<script src="/selectize/js/standalone/selectize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/javascripts/index.js"></script>
