<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">R&tau;W</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
            <% Object.keys(global.primary_routes_title).forEach(function (k){ %>
                <%- "<li class='nav-item";_%>
                <% if (k==page) { %>
                    <%- " active'><a"; %>
                <% } else { %>
                    <%- "'><a href='" + k + "'"; %>
                <% } %>
                <%-"class='nav-link'>" + global.primary_routes_title[k] + "</a></li>"; %>
            <% }); %>
            </ul>
            <button id='user_stat' onclick='logout()' class='btn btn-link' style='color:#999' >
                <% if (user_id !== undefined){ %>
                    Logout
                <% } else { %>
                    Login
                <% } %>
            </button>
        <% if (page != '/search' && page != '/') { %>
            <form class="navbar-nav ml-auto" action="/search" method="post">
                <div class="input-group">
                    <input class="form-control" type="text" name="keywords" placeholder="Search" required>
                    <div class="input-group-append">
                        <button class="btn btn-primary oi oi-magnifying-glass" data-glyph="magnifying-glass" type="submit" />
                    </div>
                </div>
            </form>
        <% } %>
        </div>
    </div>
</nav>
<div class="container">
    <div class="offline_div alert alert-danger" id="offline_div" style="display:none;"><strong>You are offline</strong></div>
</div>