main {
    padding: 50px;
}

/* Navigation */

/* Search Controls*/
.jumbotron {
    padding: 16px 0;
}
.searchTextBox, .selectize-control.multi {
    text-align: left;
    color: #000;
    width: 90%;
    margin: 4px auto;
}
input[type=checkbox] {
    margin: 0;
}

/* Map UI */
.pac-card {
    width: 90%;
    margin:8px auto 0 auto;
}
.pac-card #map {
    height: 500px;
}
#infowindow-content .title {
    font-weight: bold;
}
#infowindow-content {
    display: none;
}
#map #infowindow-content {
    display: inline;
}
#pac-container {
    padding-bottom: 12px;
    margin-top: 12px;
    margin-right: 12px;
}
#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

/* Search Results */
.searchResult {
    border: 1px solid #d64161;
    border-radius: 8px;
    margin: 8px 0;
    padding: 8px;
}
.searchResult .btn-sm {
    margin-right: 2px;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    main {
        padding: 0;
    }
    .jumbotron {
        padding: 8px 0;
    }
    .searchTextBox, .selectize-control.multi, .pac-card {
        width: 100%;
    }
    .pac-card #map {
        height: 40vmax;
    }
}
