main {
    padding: 50px;
}
#results {
    /*TODO: Remove when results are returned neatly */
    overflow: hidden;
}
a {
    color: #00B7FF;
}

/* Navigation */
.navbar {
    margin-bottom: 0;
    background-color: #d64161;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #feb236 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.icon-bar {
    background-color: #feb236 !important;
}

/* Search */
.jumbotron {
    background-color: #d64161;
    color: #feb236;
    padding: 64px 0 20px 0;
    font-family: Montserrat, sans-serif !important;
}
.searchTextBox, .selectize-control.multi {
    color: #000;
    width: 80%;
    margin: 8px auto;
}
.btn-secondary {
    color: #000;
}
input[type=checkbox] {
    margin: 0;
}

/* Map UI */
.pac-card {
    width: 80%;
    margin:8px auto 0 auto;
}
.pac-card #map {
    height: 500px;
}
#infowindow-content .title {
    font-weight: bold;
}
#infowindow-content {
    display: none;
}
#map #infowindow-content {
    display: inline;
}
#pac-container {
    padding-bottom: 12px;
    margin-top: 12px;
    margin-right: 12px;
}
#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    main {
        padding: 0;
    }
    .searchTextBox, .selectize-control.multi, .pac-card {
        width: 100%;
    }
}
